@font-face {
  font-family: 'ancient_handregular';
  src: url('./webfontkit-20230516-185625/ancient_hand-webfont.woff2')
      format('woff2'),
    url('./webfontkit-20230516-185625/ancient_hand-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'stargate_sg-1_address_gnormal';
  src: url('./webfontkit-20230516-185625/stargate_sg1_adress_glyphs-webfont.woff2')
      format('woff2'),
    url('./webfontkit-20230516-185625/stargate_sg1_adress_glyphs-webfont.woff')
      format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: 'stargate_atlantis_glyphsRg';
    src: url('./atlantis-fontkit/atlantis-glyphs-webfont.woff2') format('woff2'),
         url('./atlantis-fontkit/atlantis-glyphs-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
:root {
  --pegasus: 'stargate_atlantis_glyphsRg';
  --glyph: 'stargate_sg-1_address_gnormal';
  --ancient: 'ancient_handregular';
}
* {
  line-height: 1.5;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
}
.container {
  height: 1250px;
  width: 1250px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.outer-circle {
  width: 80%;
  height: 80%;
  border: 6px solid #6e6e6e;
  border-radius: 50%;
  position: relative;
  filter: contrast(320%) brightness(150%);
  background: 
	radial-gradient(circle at 50% 50%, rgba(134, 134, 134, 0.555), rgba(98,98,98,1)),
	url("data:image/svg+xml,%3Csvg viewBox='0 0 250 250' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='1.79' numOctaves='1' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
}
.chevron {
  width: 15.5%;
  height: 8%;
  clip-path: polygon(0 10%, 30% 15%, 45% 80%, 55% 80%, 70% 15%, 100% 10%, 100% 0, 0 0);
  background: rgba(70, 131, 180, 0.76);
  position: absolute;
  z-index: 10;
}
#c-1 {
  top: -4.35px;
  left: 41.65%;
  rotate: -.25deg;
}
#c-2 {
  top: 124.5px;
  right: 12.5%;
  rotate: 39.5deg;
}
#c-3 {
  top: 37.9%;
  right: -43.5px;
  rotate: 79.75deg;
}
#c-4 {
  bottom: 23%;
  right: 19px;
  rotate: 119.5deg;
}
#c-5 {
  bottom: 22.28%;
  left: 2.323%;
  rotate: 239deg;
}
#c-6 {
  bottom: 53.65%;
  left: -47.5px;
  rotate: 278.5deg;
}
#c-7 {
  top: 135px;
  left: 12%;
  rotate: -40.7deg;
}
.glyph-container {
  left: 44.25%;
  top: 44.25%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 11.75%;
  height: 11.8%;
  transform: rotateZ(calc((var(--nth-child) + 6) * calc(360 / 36) * 1deg))
    translateY(390%)
    rotateZ(calc((var(--nth-child) + 6) * calc(360 / 36) * -1deg));
}
.glyph-container::after {
  content: '';
  inset: 0;
  margin-inline: 18%;
  margin-block: 15%;
  position: absolute;
  z-index: 5;
  transform-origin: center;
  border-left: 2px solid #666;
  transform: rotateZ(calc((var(--nth-child) + 6) * calc(360 / 36) * 1deg));
}
.glyph {
  font-family: var(--pegasus);
  font-size: 2rem;
  color: hsl(169, 93%, 93%);
}
.inner-circle {
  top: 7.55%;
  left: 7.5%;
  width: 85%;
  height: 85%;
  border: 10px solid #656565;
  border-radius: 50%;
  position: absolute;
  background: #02fef1de;
  background-image: url('./assets/wormhole.png');
  background-size: 120%;
  background-position-x: 30%;
  background-position-y: 40%;
  background-blend-mode: multiply;
}
:nth-child(1) {
  --nth-child: 1;
}
:nth-child(2) {
  --nth-child: 2;
}
:nth-child(3) {
  --nth-child: 3;
}
:nth-child(4) {
  --nth-child: 4;
}
:nth-child(5) {
  --nth-child: 5;
}
:nth-child(6) {
  --nth-child: 6;
}
:nth-child(7) {
  --nth-child: 7;
}
:nth-child(8) {
  --nth-child: 8;
}
:nth-child(9) {
  --nth-child: 9;
}
:nth-child(10) {
  --nth-child: 10;
}
:nth-child(11) {
  --nth-child: 11;
}
:nth-child(12) {
  --nth-child: 12;
}
:nth-child(13) {
  --nth-child: 13;
}
:nth-child(14) {
  --nth-child: 14;
}
:nth-child(15) {
  --nth-child: 15;
}
:nth-child(16) {
  --nth-child: 16;
}
:nth-child(17) {
  --nth-child: 17;
}
:nth-child(18) {
  --nth-child: 18;
}
:nth-child(19) {
  --nth-child: 19;
}
:nth-child(20) {
  --nth-child: 20;
}
:nth-child(21) {
  --nth-child: 21;
}
:nth-child(22) {
  --nth-child: 22;
}
:nth-child(23) {
  --nth-child: 23;
}
:nth-child(24) {
  --nth-child: 24;
}
:nth-child(25) {
  --nth-child: 25;
}
:nth-child(26) {
  --nth-child: 26;
}
:nth-child(27) {
  --nth-child: 27;
}
:nth-child(28) {
  --nth-child: 28;
}
:nth-child(29) {
  --nth-child: 29;
}
:nth-child(30) {
  --nth-child: 30;
}
:nth-child(31) {
  --nth-child: 31;
}
:nth-child(32) {
  --nth-child: 32;
}
:nth-child(33) {
  --nth-child: 33;
}
:nth-child(34) {
  --nth-child: 34;
}
:nth-child(35) {
  --nth-child: 35;
}
:nth-child(36) {
  --nth-child: 36;
}
/* :nth-child(37) {
  --nth-child: 37;
}
:nth-child(38) {
  --nth-child: 38;
}
:nth-child(39) {
  --nth-child: 39;
} */

