@font-face {
  font-family: 'ancient_handregular';
  src: url('./webfontkit-20230516-185625/ancient_hand-webfont.woff2')
      format('woff2'),
    url('./webfontkit-20230516-185625/ancient_hand-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'stargate_sg-1_address_gnormal';
  src: url('./webfontkit-20230516-185625/stargate_sg1_adress_glyphs-webfont.woff2')
      format('woff2'),
    url('./webfontkit-20230516-185625/stargate_sg1_adress_glyphs-webfont.woff')
      format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'stargate_atlantis_glyphsRg';
  src: url('./atlantis-fontkit/atlantis-glyphs-webfont.woff2') format('woff2'),
    url('./atlantis-fontkit/atlantis-glyphs-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
:root {
  --pegasus: 'stargate_atlantis_glyphsRg';
  --glyph: 'stargate_sg-1_address_gnormal';
  --ancient: 'ancient_handregular';
}
* {
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  overflow: hidden;
  position: relative;
}
.gate-container {
  height: 1250px;
  width: 1250px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
.outer-circle {
  width: 80%;
  height: 80%;
  border: 6px solid #6e6e6e;
  margin: 0 auto;
  border-radius: 50%;
  position: relative;
  background: #485563;
  background: radial-gradient(circle, #29323c 61%, #566371) 100%;
}
.inner-circle {
  top: 7.55%;
  left: 7.5%;
  width: 85%;
  height: 85%;
  border: 15px solid #656565;
  border-radius: 50%;
  position: absolute;
  background: black;

  /* display: none; */
}
/* ! CHEVRONS */
.chevron {
  width: 15.5%;
  height: 8%;
  clip-path: polygon(
    13% 0,
    87% 0,
    87% 18%,
    70% 13%,
    55% 55%,
    45% 55%,
    30% 13%,
    13% 18%
  );
  background: #0f2027;
  background: linear-gradient(
    to top,
    hsl(198, 39%, 32%),
    hsl(195, 39%, 30%),
    hsl(198, 39%, 28%)
  );
  opacity: 0.9;
  filter: blur(10px) brightness(110%);
  position: absolute;
  z-index: 10;
  pointer-events: none;
}
#c-1 {
  top: -14.35px;
  left: 42.3%;
  rotate: -0.25deg;
}
#c-2 {
  top: 97px;
  right: 11.7%;
  rotate: 39.5deg;
}
#c-3 {
  top: 37.75%;
  right: -45.5px;
  rotate: 79deg;
}
#c-4 {
  bottom: 22.45%;
  right: 10px;
  rotate: 119.5deg;
}
#c-5 {
  bottom: 22%;
  left: 1.25%;
  rotate: 239.5deg;
}
#c-6 {
  bottom: 53.95%;
  left: -45.5px;
  rotate: 278.5deg;
}
#c-7 {
  top: 95px;
  left: 11.65%;
  rotate: -40.5deg;
}
/* ! GATE SYMBOLS */
.gate-symbol-container {
  left: 44.25%;
  top: 44.25%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 11.75%;
  height: 11.8%;
  transform: rotateZ(calc((var(--nth-child) + 6) * calc(360 / 36) * 1deg))
    translateY(390%)
    rotateZ(calc((var(--nth-child) + 6) * calc(360 / 36) * -1deg));
}
.gate-symbol-container::after {
  content: '';
  inset: -5% -1% -5% 0;
  margin-inline: 15%;
  margin-block: 18%;
  position: absolute;
  z-index: 5;
  transform-origin: center center;
  border-left: 1px solid #666;
  transform: rotateZ(calc((var(--nth-child) + 6) * calc(360 / 36) * 1deg));
}
.gate-symbols {
  font-family: var(--pegasus);
  font-size: 1.6rem;
  color: hsl(0, 0%, 51%);
}

/* ! DHD */
.dhd-container {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  width: 85vw;
  bottom: 20px;
  left: 8%;
}
.dhd-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--pegasus);
  width: 8.4rem;
  height: 8.4rem;
  font-size: 2rem;
  border: 0;
  clip-path: polygon(50% 100%, 100% 62%, 84% 0, 16% 0, 0 62%);
  background: rgb(34, 97, 91);
  background: radial-gradient(
      circle,
      hsl(198, 35%, 40%) 10%,
      hsl(195, 35%, 30%) 65%,
      hsl(198, 35%, 15%)
    )
    85%;
  border: 0;
}
.dial-address {
  padding: 2rem;
  position: absolute;
  top: 70%;
  left: -30%;
  display: none;
}
/* ! JS CLASSES */
.activate {
  font-size: 2.5rem;
  color: #58deff;
  text-shadow: -0.5px -0.5px 10px rgba(122, 228, 254, 0.7);
  background: radial-gradient(
      circle,
      hsl(198, 35%, 30%) 0%,
      hsl(195, 35%, 40%) 40%,
      hsl(198, 35%, 60%)
    )
    100%;
  box-shadow: -5px 5px 30px 3px rgba(117, 167, 189, 0.9);
}
.gate-symbol-activate {
  font-size: 2rem;
  color: #58deff;
  text-shadow: -0.5px -0.5px 10px rgba(122, 228, 254, 0.7);
}
.gate-activated {
  background: #02fef1de;
  background-image: url('./assets/wormhole.png');
  background-size: 105%;
  background-position-x: 50%;
  background-position-y: 50%;
  background-blend-mode: multiply;
}
/* ~ BACKGROUND DESIGN */
.column-container {
  position: absolute;
  padding-inline: 5vmin;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background: #3e5151;
  background: -webkit-linear-gradient(to right, #8e8c88 0%, #3e5151) 0%;
  background: linear-gradient(to left, #8e8c88 -20%, #4e5353) -10%;
  height: 100vh;
}
.column-container:nth-child(1) {
  top: 0;
  left: -1%;
}
.column-container:nth-child(2) {
  top: 0;
  right: -0.5%;
  transform: scale(-1);
}
.row-light-container {
  position: absolute;
  width: 40%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
  right: -5px;
}
.row-light-container:nth-child(1) {
  top: 200px;
}
.row-light-container:nth-child(2) {
  top: 500px;
}
.row-light-container:nth-child(3) {
  bottom: 50px;
}
.row-light-container:nth-child(4) {
  bottom: 300px;
}
.row-light {
  width: 45px;
  height: 5px;
  background: #fff;
  border-radius: 20%;
  background: linear-gradient(
    to left,
    hsl(193, 39%, 45%) -50%,
    hsl(193, 39%, 80%) 80%
  );
  box-shadow: -0.5px 0.5px 30px 3px rgba(252, 255, 255, 0.5);
}
.row-light:nth-child(odd) {
  height: 7px;
  width: 35px;
}
.row-light:nth-child(4) {
  width: 70px;
  height: 9px;
}

:nth-child(1) {
  --nth-child: 1;
}
:nth-child(2) {
  --nth-child: 2;
}
:nth-child(3) {
  --nth-child: 3;
}
:nth-child(4) {
  --nth-child: 4;
}
:nth-child(5) {
  --nth-child: 5;
}
:nth-child(6) {
  --nth-child: 6;
}
:nth-child(7) {
  --nth-child: 7;
}
:nth-child(8) {
  --nth-child: 8;
}
:nth-child(9) {
  --nth-child: 9;
}
:nth-child(10) {
  --nth-child: 10;
}
:nth-child(11) {
  --nth-child: 11;
}
:nth-child(12) {
  --nth-child: 12;
}
:nth-child(13) {
  --nth-child: 13;
}
:nth-child(14) {
  --nth-child: 14;
}
:nth-child(15) {
  --nth-child: 15;
}
:nth-child(16) {
  --nth-child: 16;
}
:nth-child(17) {
  --nth-child: 17;
}
:nth-child(18) {
  --nth-child: 18;
}
:nth-child(19) {
  --nth-child: 19;
}
:nth-child(20) {
  --nth-child: 20;
}
:nth-child(21) {
  --nth-child: 21;
}
:nth-child(22) {
  --nth-child: 22;
}
:nth-child(23) {
  --nth-child: 23;
}
:nth-child(24) {
  --nth-child: 24;
}
:nth-child(25) {
  --nth-child: 25;
}
:nth-child(26) {
  --nth-child: 26;
}
:nth-child(27) {
  --nth-child: 27;
}
:nth-child(28) {
  --nth-child: 28;
}
:nth-child(29) {
  --nth-child: 29;
}
:nth-child(30) {
  --nth-child: 30;
}
:nth-child(31) {
  --nth-child: 31;
}
:nth-child(32) {
  --nth-child: 32;
}
:nth-child(33) {
  --nth-child: 33;
}
:nth-child(34) {
  --nth-child: 34;
}
:nth-child(35) {
  --nth-child: 35;
}
:nth-child(36) {
  --nth-child: 36;
}
